* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030;
  color: #fff;
  font-size: 2.5vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2vh 0;
}
@media (min-width: 360px) and (orientation: landscape) {
  .container {
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  .container {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .container {
    font-size: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 2vh;
  border: solid #0c0 0.5vh;
  border-radius: 1.5vh;
}
form p {
  text-align: center;
}

input {
  padding: 0.5vh 1vh;
  font-size: 0.7rem;
  border: none;
  border-radius: 1.5vh;
}
@media (min-width: 360px) {
  input {
    font-size: 1rem;
  }
}
@media (min-width: 800px) {
  input {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  input {
    font-size: 1.2rem;
  }
}

.btn {
  all: unset;
  padding: 0.5vh 1vh;
  background-color: #0a0;
  font-size: 1rem;
  border-radius: 1.5vh;
  transition: 0.1s;
  cursor: pointer;
}
@media (min-width: 360px) {
  .btn {
    font-size: 1.3rem;
  }
}
@media (hover: hover) {
  .btn:hover {
    background-color: #0f0;
  }
}

.sign-wrapper {
  margin-top: 4vh;
  text-align: center;
}
.sign-wrapper p {
  margin-bottom: 2vh;
}
@media (min-width: 1200px) {
  .sign-wrapper p {
    font-size: 1.3rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  padding: 1.5vh;
  border: solid #0c0 0.5vh;
  border-radius: 1.5vh;
}
@media (min-width: 360px) and (orientation: landscape) {
  .panel {
    border-width: 0.7vh;
  }
}
.panel__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  padding-bottom: 1vh;
  border-bottom: solid #0c0 0.5vh;
}
.panel__bottom {
  max-height: 40vh;
  text-align: center;
  overflow-y: auto;
}
.panel__btns-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.panel__btn {
  font-size: 0.9rem;
  text-align: center;
}
@media (min-width: 360px) {
  .panel__btn {
    font-size: 1.1rem;
  }
}
@media (min-width: 800px) {
  .panel__btn {
    font-size: 1.7rem;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .panel__btn {
    font-size: 1.1rem;
  }
}
@media (min-width: 360px) and (orientation: landscape) {
  .panel__btn {
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  .panel__btn {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .panel__btn {
    font-size: 1rem;
  }
}
.panel__search {
  width: 90%;
  margin: 1vh 0 2vh;
  padding: 0.5vh 1vh;
  background-color: transparent;
  color: #fff;
  border: 0.5vh solid #fff;
}
@media (min-width: 800px) {
  .panel__search {
    border-width: 0.4vh;
  }
}
.panel__list-item {
  margin-bottom: 1vh;
}
.panel__users-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 2vh;
}
.user i {
  cursor: pointer;
}
.user img {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}
.user__info {
  text-align: left;
}
.user__name {
  font-weight: bold;
}
.user__is-active-wrapper {
  display: flex;
  align-items: center;
}

.is-active {
  width: 1.2vh;
  height: 1.2vh;
  margin-left: 1vh;
  background-color: #fff;
  border-radius: 50%;
}

.online {
  background-color: #0f0;
}

::-webkit-scrollbar {
  width: 0;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100%;
}
.chat-window__messages {
  flex-grow: 1;
  width: auto;
  padding: 2vh;
  overflow-y: auto;
}
.chat-window__messages div {
  width: 70%;
  padding: 1vh;
}
@media (min-width: 360px) and (orientation: landscape) {
  .chat-window__messages div {
    width: 50%;
  }
}
.chat-window__outgoing {
  margin: 0 0 2vh auto;
  background-color: #020;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.chat-window__incoming {
  margin: 0 auto 2vh 0;
  background-color: #050;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.chat-window__form {
  flex-direction: row;
  padding: 0;
  border: none;
}
.chat-window__msg-and-btn {
  display: flex;
  gap: 0.5vh;
  flex-basis: 100%;
}
.chat-window__msg-and-btn input {
  flex-grow: 1;
  font-size: 1rem;
  border-radius: 0.5vh;
}
@media (min-width: 360px) {
  .chat-window__msg-and-btn input {
    font-size: 1.3rem;
  }
}
@media (min-width: 640px) {
  .chat-window__msg-and-btn input {
    font-size: 1.5rem;
  }
}
@media (min-width: 800px) {
  .chat-window__msg-and-btn input {
    font-size: 1.7rem;
  }
}
@media (min-width: 640px) and (orientation: landscape) {
  .chat-window__msg-and-btn input {
    font-size: 1rem;
  }
}
.chat-window__msg-and-btn i {
  padding: 0.5vh;
  font-size: 1rem;
  border-radius: 0.5vh;
  cursor: pointer;
}
@media (min-width: 360px) {
  .chat-window__msg-and-btn i {
    font-size: 1.3rem;
  }
}
@media (min-width: 640px) {
  .chat-window__msg-and-btn i {
    font-size: 1.5rem;
  }
}
@media (min-width: 640px) and (orientation: landscape) {
  .chat-window__msg-and-btn i {
    font-size: 0.5rem;
  }
}
@media (min-width: 800px) {
  .chat-window__msg-and-btn i {
    font-size: 2rem;
  }
}
@media (min-width: 640px) and (orientation: landscape) {
  .chat-window__msg-and-btn i {
    font-size: 1rem;
  }
}/*# sourceMappingURL=index.css.map */