.delete-wrapper {
    text-align: center;

    h1 {
        margin-bottom: 5vh;
    }

    a {
        padding: 1vh;
        border-radius: 1vh;
        background-color: #aaa;
        color: #000;
        cursor: pointer;
    }
}