.chat-window {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;

    &__messages {
        flex-grow: 1;
        width: auto;
        padding: 2vh;
        overflow-y: auto;

        div {
            width: 70%;
            padding: 1vh;

            @include mq(xxsmall-landscape) {
                width: 50%;
            }
        }
    }

    &__outgoing {
        margin: 0 0 2vh auto;
        background-color: #020;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    &__incoming {
        margin: 0 auto 2vh 0;
        background-color: #050;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__form {
        flex-direction: row;
        padding: 0;
        border: none;
    }

    &__msg-and-btn {
        display: flex;
        gap: 0.5vh;
        flex-basis: 100%;

        input {
            flex-grow: 1;
            font-size: 1rem;
            border-radius: 0.5vh;

            @include mq(xxsmall) {
                font-size: 1.3rem;
            }

            @include mq(small) {
                font-size: 1.5rem;
            }

            @include mq(medium) {
                font-size: 1.7rem;
            }

            @include mq(small-landscape) {
                font-size: 1rem;
            }
        }

        i {
            padding: 0.5vh;
            font-size: 1rem;
            border-radius: 0.5vh;
            cursor: pointer;

            @include mq(xxsmall) {
                font-size: 1.3rem;
            }

            @include mq(small) {
                font-size: 1.5rem;
            }

            @include mq(small-landscape) {
                font-size: 0.5rem;
            }

            @include mq(medium) {
                font-size: 2rem;
            }

            @include mq(small-landscape) {
                font-size: 1rem;
            }
        }
    }
}
